<ng-container class="d-flex flex-column" *ngFor="let file of files">
        <img *ngIf="(file.type + '').includes('image')" src="{{ file.url }}" alt="{{ file.name }}" height="500px" />
          <audio
          *ngIf="(file.type + '').includes('audio')"
            controls
            src="{{ file.url }}">
        </audio>
          <vg-player *ngIf="(file.type + '').includes('video')">
            <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
                <source src="{{ file.url }}" type="video/mp4">
            </video>
          </vg-player> 
          <img src="{{ file.url }}" alt="{{ file.name }}" height="500px"/>
</ng-container>