<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12">
            <h3>Authentification</h3>
            <form [formGroup]="userForm" (ngSubmit)="submitForm()">
                <div class="form-group mb-2">
                    <label>Nom d'utilisateur (email)</label>
                    <input type="text" formControlName="username" class="form-control" >
                    <label>Mot de passe utilisateur</label>
                    <input type="password" formControlName="password" class="form-control">                
                </div>
                <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
            </form>
        </div>
    </div>
</div>