<nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
  <a class="navbar-brand" href="#">Porc Te Faux Lit Haut</a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Images</a>
      <a class="nav-item nav-link" href="login">Connexion</a>
      <a class="nav-item nav-link" href="logout">Déconnexion</a>
      <a class="nav-item nav-link" href="user/add">Inscription</a>
    </div>
</nav>
<div id="content" class="d-flex flex-column align-items-center">
  <h1>Bienvenue sur mon portfolio</h1>

    <router-outlet></router-outlet>
</div>
