<div class="container wrapper wrapper2">
    <div *ngIf="currentFile" class="row">
        <!-- Form -->
        <div class="col-md-12">
            <h3>Modification du statut du fichier</h3>
            <form (ngSubmit)="submitForm()">
                <table class="table">
                    <ng-container>
                        <td scope="col">{{currentFile.name}}</td>
                      </ng-container>
                    
                </table>

                <div>
                    <select id="status">
                        <option value="hidden">Caché</option>
                        <option value="private">Privé</option>
                        <option value="public">Publique</option>
                      </select>                      
                </div>
                <button type="submit" class="btn btn-primary mt-3">Modifier</button>
            </form>
        </div>
    </div>
    <div *ngIf="!currentFile" class="row">
        <div class="col-md-12">
            <h3>Fichier introuvable</h3>
        </div>
    </div>
</div>