<div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="header m-2">
          <form class="d-flex my-2 gap-1" role="search" (ngSubmit)="onSubmit($event)">
            <button class="btn btn-secondary" type="button" routerLink="/users/add">Ajouter</button>
            <input class="form-control" type="search" placeholder="Nom de l'utilisateur" aria-label="Search"
              name="search">
            <button type="submit" class="btn btn-warning">Rechercher</button>
            <button type="button" class="btn btn-danger" (click)="resetSearch()">Réinitialiser</button>
          </form>
        </div>
  
        <div class="d-flex flex-column justify-content-center align-items-center inner my-2">
  
          <table class="styled-table vw-50">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Utilisateurs</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList | paginate: { itemsPerPage: 6, currentPage: pages }">
                <th scope="row">{{user.id}}</th>
                <td>{{user.username}}</td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm me-1"
                    (click)="deleteUser(user)">Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
  
          <pagination-controls class="pagination d-flex justify-content-center align-items-center" (pageChange)="pages = $event" previousLabel="Précédent"
            nextLabel="Suivant" [responsive]="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
